select{
    width: 400px;
}

input{
    width: 200px;
}

#startdatetimepicker1{
    position: relative;
     z-index: 100000;
 }

#enddatetimepicker{
 position: relative;
 z-index: 100000;
 }

 #jobst{
  position: relative;
  z-index: 100000;
  }

  #jobet{
   position: relative;
   z-index: 100000;
   }